@charset "utf-8";
/* CSS Document */

body
{
	
	background-image:url(../image/bg.png);
	 margin:0 auto;
	 overflow-x:hidden;
}
.content
{
	margin:0 auto;
	display:center;
}


/******************* media query ********************/
@media (max-width: 767px) {
   .image
   {
	   margin-top:50px;
   }
}